## Test with multiple node versions.
name: test

on:
  push:
    branches:
      - main
    tags:
  pull_request:
    branches:
      - main

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        node-version: [10, 12, 14, 16, 17, 18, 19]
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install dependencies
        run: .ci/run-install.sh
      - name: Test Node.js v${{ matrix.node-version }}
        run: .ci/run-test.sh
